{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                {{ form_start(scheduleForm) }}
                <div class="row">
                    <div class="col-12 form-group">
                        <label>
                            Titel:
                        </label>
                        {{ form_widget(scheduleForm.title, { 'attr': {'class': 'form-control'}} ) }}
                        <small class="form-text text-muted">
                            Dieser Text wird über den Messwerten eines Tweets angezeigt, beispielsweise „Luft in der Stresemannstraße“ oder „Luft am Alexanderplatz“. Bitte gib nicht mehr als 75 Zeichen ein.
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group">
                        <label>
                            Station:
                        </label>
                        {{ form_widget(scheduleForm.station, { 'attr': {'class': 'form-control'}} ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group">
                        <label>
                            Minute:
                        </label>
                        {{ form_widget(scheduleForm.cron, { 'attr': {'class': 'form-control'}} ) }}
                        <small class="form-text text-muted">
                            Auf welcher Minute sollen die Luftdaten pro Stunde gesendet werden?
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group text-center">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="submit">
                                Speichern
                            </button>
                            <a class="btn btn-secondary" href="{{ path('twitter_schedule_list', { citySlug: app.user.city.slug }) }}">
                                Abbrechen
                            </a>
                        </div>
                    </div>
                </div>
                {{ form_end(scheduleForm) }}
            </div>
        </div>
    </div>
{% endblock %}
