{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h3>
                    twitter-Pläne für @{{ app.user.username }}
                </h3>

                <p class="lead">
                    Du kannst automatisch Luftdaten auf deinem twitter-Konto <code>@{{ app.user.username }}</code> veröffentlichen lassen. Für jede Station kannst du auswählen, zu welchem Zeitpunkt pro Stunde die aktuellen Werte veröffentlicht werden sollen.
                </p>
            </div>
        </div>

        {% if not app.user.twitterSecret %}
            <div class="row mt-3">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="alert alert-danger">
                        <a class="btn btn-primary pull-right" href="{{ path('twitter_auth', { citySlug: app.user.city.slug }) }}">
                            <i class="fa fa-twitter"></i>
                            authorisieren
                        </a>

                        Bitte authorisiere Luft<sup>jetzt</sup>, auf deinem twitter-Konto <code>@{{ app.user.username }}</code> Nachrichten veröffentlichen zu dürfen:
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row mt-3">
            <div class="col-12 col-md-8 offset-md-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Titel
                            </th>

                            <th>
                                Station
                            </th>

                            <th>
                                Minute
                            </th>

                            <th>
                                {% if scheduleList|length > 0 %}
                                <a class="btn btn-sm btn-primary" href="{{ path('twitter_schedule_add', { citySlug: city.slug }) }}">
                                    <i class="fa fa-plus"></i>
                                    neu
                                </a>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if scheduleList|length == 0 %}
                            <tr>
                                <td colspan="4" class="text-center alert alert-warning">
                                    <p>
                                        Du hast bislang keine Pläne angelegt.
                                    </p>

                                    <p>
                                        <a class="btn btn-primary" href="{{ path('twitter_schedule_add', { citySlug: city.slug }) }}">
                                            <i class="fa fa-plus"></i>
                                            neuen Plan hinzufügen
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        {% endif %}
                        {% for schedule in scheduleList %}
                            <tr>
                                <td>
                                    {{ schedule.title }}
                                </td>

                                <td>
                                    {{ schedule.station }}
                                </td>

                                <td>
                                    {{ cron(schedule.cron, 'i') }}
                                </td>

                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a class="btn btn-outline-dark" href="{{ path('twitter_schedule_edit', { citySlug: city.slug, scheduleId: schedule.id }) }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-outline-dark" href="{{ path('twitter_schedule_remove', { citySlug: city.slug, scheduleId: schedule.id }) }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if app.user.twitterSecret %}
            <div class="row mt-3">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="alert alert-info">
                        <a class="btn btn-primary pull-right" href="{{ path('twitter_auth', { citySlug: app.user.city.slug }) }}">
                            <i class="fa fa-twitter"></i>
                            authorisieren
                        </a>

                        Falls es Probleme gibt, kannst du Luft<sup>jetzt</sup> noch einmal authorisieren, auf deinem twitter-Konto <code>@{{ app.user.username }}</code> Nachrichten veröffentlichen zu dürfen:
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
