{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>
                Impressum
            </h2>

            <p>
                Angaben nach § 5 TMG:
            </p>

            <p>
                {{ impress_property('firstName') }} {{ impress_property('lastName') }}
                <br />
                {{ impress_property('street') }} {{ impress_property('houseNumber') }}
                <br />
                {{ impress_property('zipCode') }} {{ impress_property('city') }}
            </p>

            <p>
                Telefon: {{ impress_property('phoneNumber') }}
                <br/>
                E-Mail: <a href="mailto:luft@caldera.cc">luft@caldera.cc</a>
            </p>

            <p>
                Kein Support per E-Mail oder Telefon. Bitte nutze bei Problemen oder für Ideen das <a href="https://www.radverkehrsforum.de/index.php/Board/33-luft-jetzt/">Radverkehrsforum</a> oder stelle einen Pull-Request im <a href="https://github.com/calderacc/luft-jetzt">GitHub-Repository</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
