{% extends 'layout.html.twig' %}
{% import _self as self %}

{% macro pollutant_table(pollutant_identifier) %}
    <table class="table">
        <thead>
        <tr>
            <th>
                Symbol
            </th>

            <th>
                LQI
            </th>

            <th>
                Bedeutung
            </th>

            <th>
                Grenzwert
            </th>
        </tr>
        </thead>

        {% set levels = pollution_levels(pollutant_identifier) %}
        {% set last_level = levels.levels|last  %}
        {% set last_limit = last_level|number_format(0, ',', '.') %}

        <tbody>
        {% for level,limit in levels.levels|merge(['air_quality.list.more_than'|trans({'%limit%': last_limit})]) %}
            <tr>
                <td>
                    {{ ('air_quality.index.' ~ loop.index ~ '.icon')|trans }}
                </td>

                <td>
                    {{ loop.index }}
                </td>

                <td>
                    {{ ('air_quality.index.' ~ loop.index ~ '.name')|trans }}
                </td>

                <td>
                    {% if limit is numeric %}
                    {{ limit|number_format(0, ',', '.') }} µg/m<sup>3</sup>
                    {% else %}
                    {{ limit }} µg/m<sup>3</sup>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2 class="text-center">
                Übersicht über Schadstoffe und Grenzwerte
            </h2>

            <h3 class="h4">
                Allgemeines zu Grenzwerten
            </h3>

            <p>
                Die Darstellung von Messwerten gegenüber den dazugehörigen Grenzwerten der jeweiligen Schadstoffe ist teilweise schwierig, da das Gefahrenpotenzial der meisten Schadstoffe vor allem von der Expositionslänge und der körperlichen Verfassung des Einzelnen abhängig. So ist beispielweise ein längerer Aufenthalt bei erhöhten Ozonwerten für einen gesunden Menschen unproblematisch, während Kinder, Senioren oder Menschen mit asthmatischen Erkrankungen bereits bei viel geringeren Konzentrationen den Aufenthalt im Freien meiden sollten.
            </p>

            <p>
                Für Feinstaub PM<sub>10</sub> etwa dürfen 50 Mikrogramm pro Kubikmeter im Tagesmittel nur an höchstens 35 Tagen im Jahr überschritten werden, so dass genaugenommen im Januar eines Jahres noch gar keine kritischen Messwerte angezeigt werden dürften. Natürlich ist der im Januar eingeatmete Feinstaub ebenso gefährlich wie im Sommer. Auf dieser Webseite werden darum die Messwerte in die vier Kategorien <span class="text-success">moderat</span>, <span class="text-warning">schwach gesundheitsgefährdend</span>, <span class="text-danger">gesundheitsgefährdend</span> und <span class="text-dark">stark gesundheitsgefährdend</span> eingeteilt, um das ungefähre Gefahrenpotenzial der Schadstoffkonzentrationen abbilden zu können.
            </p>

            <a name="feinstaub-pm10" />
            <a name="pm10" />

            <h4 class="h5">
                Feinstaub PM<sub>10</sub>
            </h4>

            <p>
                Feinstaub entsteht unter anderem beim Betrieb von Kraftfahrzeugen, beispielsweise bei der Verbrennung von Kraftstoffen oder als Abrieb von Bremsen, Reifen oder Kupplungen. Seit einigen Jahren steigt die Feinstaubbelastung in Wohn- und insbesondere in Neubaugebieten deutlich an, da das Befeuern von Hausöfen wieder in Mode gekommen ist. Feinstaubpartikel können je nach Größe in die Nasenhöhle, in die Lungenbläßchen oder gar in den Blutkreislauf eindringen. Dort erhöhen sie das Thrombose- und Plaquerisiko in Blutgefäßen und stehen im Verdacht, die Entstehung von Alzheimer zu begünstigen.
            </p>

            {{ self.pollutant_table('pm10') }}

            <a name="stickstoffdioxid" />
            <a name="no2" />

            <h4 class="h5">
                Stickstoffdioxid NO<sub>2</sub>
            </h4>

            <p>
                Stickoxide entstehen bei der Verbennung von Öl, Kohle und Holz. Insbesondere das im Straßenverkehr emittierte Stickstoffdioxid verursacht Reizungen der Augen und der Atemwege. Es begünstigt Entzündungen und kann somit eine Vielzahl verschiedener Erkrankungen begünstigen, etwa Atemwegsinfektionen, Verminderung der Lungenfunktion oder Herz-Kreislauf-Erkrankungen.
            </p>

            {{ self.pollutant_table('no2') }}

            <a name="schwefeldioxid" />
            <a name="so2" />

            <h4 class="h5">
                Schwefeldioxid SO<sub>2</sub>
            </h4>

            <p>
                Bei der Verbrennung von fossilen Energieträgern entsteht Schwefeldioxid bei der Oxidation des in Erdöl und Kohle enthaltenen Schwefels. Es führt zu Reizungen der Augen und der Atemwege.
            </p>

            {{ self.pollutant_table('so2') }}

            <a name="kohlenmonoxid" />
            <a name="co" />

            <h4 class="h5">
                Kohlenmonoxid CO
            </h4>

            <p>
                Kohlenmonoxid ist ein farb- und geruchsloses, aber hochgiftiges Gas, das bei unvollständiger Verbrennung entsteht. Es unterbindet den Sauerstofftransport im Blut und führt bei höheren Konzentrationen nach kürzester Zeit zum Tod.
            </p>

            {{ self.pollutant_table('co') }}

            <a name="ozon" />
            <a name="o3" />

            <h4 class="h5">
                Ozon O<sub>3</sub>
            </h4>

            <p>
                Bodennahes Ozon reizt Augen und Atemwege und die Leistungsfähigkeit des menschlichen Körpers verringern. Insbesondere an warmen Sommerabenden ist mit hohen Ozonkonzentrationen zu rechnen, während denen im Interesse der Gesundheit auf sportliche Aktivitäten oder gar den Aufenthalt im Freien verzichtet werden sollte.
            </p>

            {{ self.pollutant_table('o3') }}
        </div>
    </div>
</div>
{% endblock %}
