{% if box %}
    {% if combined is defined and combined == true %}
     {% set combined = true %}
    {% else %}
     {% set combined = false %}
    {% endif %}

    {% if linkToStation is defined and linkToStation == true %}
        {% set stationLink = true %}
    {% else %}
        {% set stationLink = false %}
    {% endif %}

    {% if showStationTitle is defined and showStationTitle != false %}
        {% set stationTitle = true %}
    {% else %}
        {% set stationTitle = false %}
    {% endif %}

    {% if not combined %}
<div class="col-12">
    <div class="card card-inverse mb-2">
    {% endif %}

    <div class="card-body text-white text-center box h-100" style="background-color: {{ pollution_color(box.pollutionLevel) }}" data-station-code="{{ box.station.stationCode }}" data-station-latitude="{{ box.station.latitude }}" data-station-longitude="{{ box.station.longitude }}" data-station-color="{{ pollution_color_name(box.pollutionLevel) }}">
        {% if stationLink %}<a href="{{ path('station', { 'stationCode': box.station.stationCode }) }}" class="no-underline text-white" title="Weitere Luftmesswerte der Station {{ box.station.stationCode }}{% if box.station.city %} aus {{ box.station.city.name }}{% endif %}">{% endif %}
        <h4 class="card-title">
            {{ box.data.value|number_format }} {{ box.pollutant.unitHtml|raw }}
        </h4>
        {% if stationLink %}</a>{% endif %}

        <p class="card-text">
            <a href="{{ path('limits') }}#{{ box.pollutant.identifier }}" class="btn btn-sm text-white" title="Weitere Informationen über den Luftschadstoff {{ box.pollutant.name }}">
                <i class="fa fa-info-circle"></i> {{ box.pollutant.name }}
            </a>
        </p>

        {% if stationLink %}<a href="{{ path('station', { 'stationCode': box.station.stationCode }) }}" class="no-underline text-white" title="Weitere Luftmesswerte der Station {{ box.station.stationCode }}{% if box.station.city %} aus {{ box.station.city.name }}{% endif %}">{% endif %}

        <p class="card-text">
        {% if stationTitle %}
            {{ box.station.title }}<br />
        {% endif %}

        <small>
            <i class="fa fa-clock-o"></i> {{ box.data.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }} Uhr
            {% if stationTitle %}
            <br /><i class="fa fa-compass"></i> {{ box.distance|number_format(2, ',', '.') }} km
            {% endif %}
            {% if box.data.station.network and stationTitle %}
            <br />
            {{ box.data.station.network.name }}
            {% endif %}
        </small>

        </p>
        {% if stationLink %}</a>{% endif %}
    </div>

    {% if not combined %}
    </div>
</div>
    {% endif %}
{% endif %}
