{% if view_model %}
    {% if combined is defined and combined == true %}
     {% set combined = true %}
    {% else %}
     {% set combined = false %}
    {% endif %}

    {% if linkToStation is defined and linkToStation == true and view_model.station.stationCode %}
        {% set stationLink = true %}
    {% else %}
        {% set stationLink = false %}
    {% endif %}

    {% if showStationTitle is defined and showStationTitle != false and view_model.station.stationCode %}
        {% set stationTitle = true %}
    {% else %}
        {% set stationTitle = false %}
    {% endif %}

    {% if not combined %}
<div class="col-12">
    <div class="card card-inverse mb-2">
    {% endif %}

    <div class="card-body text-white text-center box h-100 {{ view_model.measurement.identifier }}" style="background-color: {{ pollution_color(view_model.pollutionLevel) }}" data-station-code="{{ view_model.station.stationCode }}" data-station-latitude="{{ view_model.station.latitude }}" data-station-longitude="{{ view_model.station.longitude }}" data-station-color="{{ pollution_color_name(view_model.pollutionLevel) }}" data-pollution-level="{{ view_model.pollutionLevel }}" data-station-map="{{ view_model.showOnMap }}">
        {% if stationLink %}<a href="{{ path('station', { 'stationCode': view_model.station.stationCode }) }}" class="no-underline text-white" title="Weitere Luftmesswerte der Station {{ view_model.station.stationCode }}{% if view_model.station.city %} aus {{ view_model.station.city.name }}{% endif %}">{% endif %}
        <h4 class="card-title">
            {{ view_model.data.value|number_format(view_model.measurement.decimals, ',', '.') }} {{ view_model.measurement.unitHtml|raw }}
        </h4>
        {% if stationLink %}</a>{% endif %}

        <p class="card-text">
            <a href="{{ path('limits') }}#{{ view_model.measurement.identifier }}" class="btn btn-sm text-white" title="Weitere Informationen über den Luftschadstoff {{ view_model.measurement.name }}">
                <i class="fa fa-info-circle"></i> {{ view_model.measurement.name }}
            </a>
        </p>

        {% if stationLink %}<a href="{{ path('station', { 'stationCode': view_model.station.stationCode }) }}" class="no-underline text-white" title="Weitere Luftmesswerte der Station {{ view_model.station.stationCode }}{% if view_model.station.city %} aus {{ view_model.station.city.name }}{% endif %}">{% endif %}

        <p class="card-text">
        {% if stationTitle %}
            {% if view_model.station.title %}
                {{ view_model.station.title }}<br />
            {% else %}
                {{ view_model.station.stationCode }}<br />
            {% endif %}
        {% endif %}

        <small>
            <i class="fa fa-clock-o"></i> {{ view_model.data.dateTime|time_ago_in_words }}
            {% if stationTitle %}
            <br /><i class="fa fa-compass"></i> {{ view_model.distance|number_format(2, ',', '.') }} km entfernt
            {% endif %}
            {% if view_model.data.station.network and stationTitle %}
            <br />
            {{ view_model.data.station.network.name }}
            {% endif %}
        </small>

        </p>
        {% if stationLink %}</a>{% endif %}
    </div>

    {% if not combined %}
    </div>
</div>
    {% endif %}
{% endif %}
