{% if box %}
    {% if box.pollutionLevel == constant('LEVEL_ACCEPTABLE', box.pollutant.pollutionLevel) %}
        {% set levelClass = 'bg-success' %}
    {% endif %}

    {% if box.pollutionLevel == constant('LEVEL_WARNING', box.pollutant.pollutionLevel) %}
      {% set levelClass = 'bg-warning' %}
    {% endif %}

    {% if box.pollutionLevel == constant('LEVEL_DANGER', box.pollutant.pollutionLevel) %}
      {% set levelClass = 'bg-danger' %}
    {% endif %}

    {% if box.pollutionLevel == constant('LEVEL_DEATH', box.pollutant.pollutionLevel) %}
      {% set levelClass = 'bg-dark' %}
    {% endif %}

    {% set pollutionLevel = 0 %}

    {% if box.pollutionLevel == 1 %}
        {% set stationColor = 'green' %}
    {% endif %}

    {% if box.pollutionLevel == 2 %}
        {% set stationColor = 'yellow' %}
    {% endif %}

    {% if box.pollutionLevel == 3 %}
        {% set stationColor = 'red' %}
    {% endif %}

    {% if box.pollutionLevel == 4 %}
        {% set stationColor = 'black' %}
    {% endif %}

    {% if combined is defined and combined == true %}
     {% set combined = true %}
    {% else %}
     {% set combined = false %}
    {% endif %}

    {% if linkToStation is defined and linkToStation == true %}
        {% set stationLink = true %}
    {% else %}
        {% set stationLink = false %}
    {% endif %}

    {% if showStationTitle is defined and showStationTitle != false %}
        {% set stationTitle = true %}
    {% else %}
        {% set stationTitle = false %}
    {% endif %}

    {% if not combined %}
<div class="col-12">
    <div class="card card-inverse mb-2">
    {% endif %}

    <div class="card-body {{ levelClass }} text-white text-center box" data-station-code="{{ box.station.stationCode }}" data-station-latitude="{{ box.station.latitude }}" data-station-longitude="{{ box.station.longitude }}" data-station-color="{{ stationColor }}">
        {% if stationLink %}<a href="{{ path('station', { 'stationCode': box.station.stationCode }) }}" class="no-underline text-white" title="Weitere Luftmesswerte der Station {{ box.station.stationCode }}{% if box.station.city %} aus {{ box.station.city.name }}{% endif %}">{% endif %}
        <h4 class="card-title">
            {{ box.data.value }} {{ box.pollutant.unitHtml|raw }}
        </h4>
        {% if stationLink %}</a>{% endif %}

        <p class="card-text">
            <a href="{{ path('limits') }}#{{ box.pollutant.identifier }}" class="btn btn-sm text-white" title="Weitere Informationen über den Luftschadstoff {{ box.pollutant.name }}">
                <i class="fa fa-info-circle"></i> {{ box.pollutant.name }}
            </a>
        </p>

        {% if stationLink %}<a href="{{ path('station', { 'stationCode': box.station.stationCode }) }}" class="no-underline text-white" title="Weitere Luftmesswerte der Station {{ box.station.stationCode }}{% if box.station.city %} aus {{ box.station.city.name }}{% endif %}">{% endif %}

        <p class="card-text">
        {% if stationTitle %}
            {{ box.station.title }}<br />
        {% endif %}

        <small>
            gemessen: {{ box.data.dateTime|date('d.m.Y H:i') }} Uhr
            {% if box.data.station.network and stationTitle %}
            <br />
            {{ box.data.station.network.name }}
            {% endif %}
        </small>

        </p>
        {% if stationLink %}</a>{% endif %}
    </div>

    {% if not combined %}
    </div>
</div>
    {% endif %}
{% endif %}
