{% if linkToStation is defined and linkToStation == true %}
<a href="{{ path('station', { 'stationCode': station.stationCode }) }}" class="no-underline">
{% endif %}

    <div class="card station" data-latitude="{{ station.latitude }}" data-longitude="{{ station.longitude }}" data-station-code="{{ station.stationCode }}">
    {% if showMap is not defined or showMap == true %}
        <div id="map-station-{{ station.stationCode }}" class="map card-img-top" style="height: 33.33vh;"></div>
        {% endif %}
        <div class="card-body">
            <h4 class="card-title">
                Messstation {{ station.stationCode }}
            </h4>
            <h6 class="card-sutitle text-muted">
                {% if not linkToStation is defined and station.city %}
                <a href="{{ path('show_city', { citySlug: station.city.slug }) }}" title="Übersicht über {{ station.city.name }}">
                    {{ station.title }}
                </a>
                {% else %}
                {{ station.title }}
                {% endif %}
            </h6>

            {% if description is defined %}
            <p class="card-text">
                {{ description }}
            </p>
            {% endif %}

            {% if station.stationType and station.areaType %}
            <p class="card-text text-muted">
                Stationstyp: {{ station.stationType|readable_enum|trans({}, 'messages', 'de') }}, {{ station.areaType|readable_enum|trans({}, 'messages', 'de') }}
            </p>
            {% endif %}
        </div>

        {% for box in boxList %}
            {% include 'Default/_box.html.twig' with { 'box': box, 'showStationTitle': false, combined: true } %}
        {% endfor %}
    </div>

{% if linkToStation is defined and linkToStation == true %}
</a>
{% endif %}
