{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col-12 text-center">
            {% if city %}
            <h3>
                Aktuelle Luftmesswerte aus {{ city.name }}
            </h3>
            {% elseif cityName %}
            <h3>
                Aktuelle Luftmesswerte aus {{ cityName }}
            </h3>
            {% else %}
            <h3>
                Aktuelle Messwerte aus deiner Umgebung
            </h3>
            {% endif %}

            <p class="lead">
                Es wurden die folgenden Schadstoffwerte aus Messstationen deiner Umgebung ermittelt:
            </p>
        </div>
    </div>

    <div class="row">
        {% for box in boxList %}
        {% include 'Default/_box.html.twig' with { 'box': box, 'showStationTitle': true, 'linkToStation': true } %}
        {% endfor %}
    </div>

    {% if city %}
    <div class="row mt-2">
        <div class="col-12 text-center">
            <a href="{{ path('show_city', { citySlug: city.slug }) }}" class="btn btn-primary" title="Zeige weitere Schadstoff-Messwerte aus {{ city.name }}">
                Weitere Messwerte aus {{ city.name }}
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
