{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h3">
                    Messwerte der Station {{ station.stationCode }}
                </h2>

                <p class="lead">
                    An der Station {{ station.stationCode }}{% if station.city %} in <a href="{{ path('show_city', { citySlug: station.city.slug }) }}" title="Zeige weitere Schadstoff-Messwerte aus {{ station.city.name }} an">{{ station.city.name }}</a>{% endif %} wurden zuletzt die folgenden Werte gemessen:
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                {% include 'Default/_station.html.twig' with { 'station': station, 'pollutantList': pollutantList } %}
            </div>
        </div>

        {% if station.city %}
        <div class="row mt-2">
            <div class="col-12 text-center">
                <div class="btn-group btn-group-vertical">
                    <a href="{{ path('show_city', { citySlug: station.city.slug }) }}" class="btn btn-primary" title="Zeige weitere Schadstoff-Messwerte aus {{ station.city.name }} an">
                        <i class="fa fa-university"></i>
                        Weitere Messwerte aus {{ station.city.name }}
                    </a>

                    {% if feature('station_history') %}
                    <a href="{{ path('station_history', { stationCode: station.stationCode }) }}" class="btn btn-primary" title="Frühere Messwerte dieser Station">
                        <i class="fa fa-line-chart"></i>
                        Frühere Messwerte dieser Station
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('/js/map.min.js') }}"></script>
{% endblock %}
