<footer class="luft-footer pt-5 pb-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <h6 class="luft-footer-heading">Datenquellen</h6>
                <ul class="luft-footer-links">
                    <li><a href="http://sqi.be/v2i08">Umweltbundesamt</a></li>
                    <li><a href="https://Sensor.Community/">Sensor.Community</a></li>
                    <li><a href="https://sqi.be/mhcwy">NOAA (CO<sub>2</sub>)</a></li>
                    <li><a href="https://sqi.be/7iewr">OpenWeatherMap</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h6 class="luft-footer-heading">Rechtliches</h6>
                <ul class="luft-footer-links">
                    <li><a href="{{ path('impress') }}">Impressum</a></li>
                    <li><a href="{{ path('privacy') }}">Datenschutzerklärung</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h6 class="luft-footer-heading">Entwicklung</h6>
                <ul class="luft-footer-links">
                    <li><a href="https://github.com/luft-jetzt">GitHub</a></li>
                    <li><a href="{{ path('app.swagger_ui') }}">Api-Dokumentation</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 luft-footer-bottom pt-3 text-center">
                &copy; {{ "now"|date("Y") }} Luft.jetzt
            </div>
        </div>
    </div>
</footer>

{{ render(controller('App\\Controller\\TemplateController::cityListAction')) }}
