{% verbatim %}
<script id="map-station-modal" type="text/x-handlebars-template">
<table class="table table-striped table-bordered table-condensed">
{{#each this}}
<tr class="{{#ifEquals pollution_level "1"}}bg-success{{/ifEquals}}{{#ifEquals pollution_level "2"}}bg-warning{{/ifEquals}}{{#ifEquals pollution_level "3"}}bg-danger{{/ifEquals}}">
    <td>{{measurement.name}} ({{{measurement.short_name_html}}})</td>
    <td>{{data.value}} {{{measurement.unit_html}}}<br /><small>{{dateFormat data.date_time "DD.MM.YYYY, hh:mm"}}</small></td>
</tr>
{{/each}}
</table>
</script>
{% endverbatim %}
