{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    Komfortofen-Finder
                </h2>

                <p class="lead">
                    Als so genannte Komfortöfen getarnte Holzöfen erleben momentan eine beispiellose Renaissance. Die Kehrseite der Gemütlichkeit sind stark erhöhte Feinstaub-Werte in Wohngebieten, zu denen sich allerhand gefährliche Giftstoffe gesellen, die bei der unsachgemäßen Befeuerung eines Ofens und der Verbrennung von Müll oder behandeltem Holzmaterial entstehen können. Diese Öfen lassen sich an einem rapiden Anstieg der Feinstaub-Werte erkennen — typischerweise an den Wochenenden und vor Feiertagen ab etwa 16 Uhr.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>
                                Station
                            </th>

                            <th>
                                PM<sub>10</sub>
                            </th>
                            
                            <th>
                                Zeitpunkt
                            </th>
                        </tr>
                    </thead>
                    {% for ofen in ofenList %}
                        <tr>
                            <td>
                                <a href="{{ path('station', { stationCode: ofen.station.stationCode }) }}">
                                    {{ ofen.station.stationCode }}
                                </a>
                                {% if ofen.station.city %}
                                    <a href="{{ path('show_city', { citySlug: ofen.station.city.slug }) }}" title="Zeige weitere Luftmessstationen aus {{ ofen.station.city.name }}">
                                        <small class="text-muted">
                                            {{ ofen.station.city.name }}
                                        </small>
                                    </a>
                                {% endif %}

                                {% if ofen.station.stationType and ofen.station.areaType %}
                                <br />
                                <small class="text-muted">
                                    {{ ofen.station.stationType|readable_enum|trans({}, 'messages', 'de') }}, {{ ofen.station.areaType|readable_enum|trans({}, 'messages', 'de') }}
                                </small>
                                {% endif %}
                            </td>

                            <td>
                                {{ ofen.data.value }}
                                <br />
                                <span class="text-danger">+ {{ ofen.slope }}</span>
                            </td>

                            <td>
                                <a href="{{ path('station_history', { stationCode: ofen.station.stationCode, from: ofen.data.dateTime|date('Y-m-d'), until: ofen.data.dateTime|date('Y-m-d') }) }}">
                                    {{ ofen.data.dateTime|format_date('eeee, dd. MMMM YYYY') }}
                                    <br />
                                    {{ ofen.data.dateTime|date('H:i') }} Uhr
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <a href="https://sqi.be/zb2to" class="btn btn-primary" title="Erfahre mehr über die Gesundheitsgefahren aus Holzöfen">
                    mehr über diese Thematik erfahren
                </a>
            </div>
        </div>
    </div>
{% endblock %}
