<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        {% if block('title') %}
            <title>{% block title %}{% endblock %} — Luft.jetzt</title>
        {% else %}
            {{ sonata_seo_title() }}
        {% endif %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'Includes/menu.html.twig' %}

        <div class="luft-content-spacer"></div>

        {{ wo_render_breadcrumbs() }}

        <main class="luft-main">
            {% block content %}{% endblock %}
        </main>

        {% include 'Includes/footer.html.twig' %}

        <nav class="luft-bottom-nav d-lg-none" aria-label="Mobile navigation">
            <ul class="luft-bottom-nav-items">
                <li class="luft-bottom-nav-item">
                    <a href="{{ path('frontpage') }}">
                        <i class="fa fa-home"></i>
                        <span>Start</span>
                    </a>
                </li>
                <li class="luft-bottom-nav-item">
                    <a href="{{ path('display') }}">
                        <i class="fa fa-search"></i>
                        <span>Suche</span>
                    </a>
                </li>
                <li class="luft-bottom-nav-item">
                    <a href="#" class="locate-button">
                        <i class="fa fa-location-arrow"></i>
                        <span>Standort</span>
                    </a>
                </li>
                <li class="luft-bottom-nav-item">
                    <a href="{{ path('pollutant_pm10') }}">
                        <i class="fa fa-cloud"></i>
                        <span>Feinstaub</span>
                    </a>
                </li>
            </ul>
        </nav>

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% include 'Includes/search_templates.html.twig' %}

        {% block scripts %}{% endblock %}
    </body>
</html>
