<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        {% if block('title') %}
            <title>{% block title %}{% endblock %} — Luft.jetzt</title>
        {% else %}
            {{ sonata_seo_title() }}
        {% endif %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'Includes/menu.html.twig' %}

        <a href="http://sqi.be/ed94a">
            <img class="d-none d-md-block" style="position: absolute; top: 56px; right: 0; border: 0;" src="{{ asset('/build/images/github/black-topright.png') }}" />
        </a>

        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <div class="alert alert-info mx-auto w-md-50">
                        <strong>Jetzt live:</strong> Die <a href="{{ path('analysis_fireworks_corona') }}">Feinstaubbelastung zum Jahreswechsel</a> in deiner Nähe.
                    </div>
                </div>
            </div>
        </div>
        {{ wo_render_breadcrumbs() }}

        {% block content %}{% endblock %}

        {% include 'Includes/footer.html.twig' %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% include 'Includes/search_templates.html.twig' %}

        {% block scripts %}{% endblock %}
    </body>
</html>
