<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        {% if block('title') %}
            <title>{% block title %}{% endblock %} — Luft.jetzt</title>
        {% else %}
            {{ sonata_seo_title() }}
        {% endif %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}

        <link rel="stylesheet" href="{{ asset('/css/luft.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/fontawesome/font-awesome.css') }}" />
    </head>
    <body>
        <a href="http://sqi.be/ed94a">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ asset('/img/github/black-topright.png') }}" />
        </a>
        {% include 'Includes/header.html.twig' %}

        {% block content %}{% endblock %}

        {% include 'Includes/footer.html.twig' %}

        <script src="{{ asset('/js/jquery.slim-min.js') }}"></script>
        <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/js/leaflet-min.js') }}"></script>

        {% block scripts %}{% endblock %}

        {% include 'Includes/piwik.html.twig' %}
    </body>
</html>
