{% extends 'layout.html.twig' %}
{% import _self as self %}

{% macro pollution_data(dataList, pollutantId) %}
    {% if dataList[pollutantId] is defined %}
    {% set data = dataList[pollutantId]|first %}
    <td class="pollution-value pollutant-{{ data.pollutant.identifier }}" data-value="{{ data.data.value }}" style="background-color: {{ pollution_color(data.pollutionLevel) }}">
        {{ data.data.value }} {{ data.pollutant.unitHtml|raw }}
    </td>
    {% else %}
        {% set pollutant = pollutant_by_id(pollutantId) %}
    <td class="pollution-value pollutant-{{ pollutant.identifier }}" data-value="null"></td>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h3">
                    Historische Messwerte der Station {{ station.stationCode }}
                </h2>

                <p class="lead">
                    An der Station {{ station.stationCode }}{% if station.city %} in <a href="{{ path('show_city', { citySlug: station.city.slug }) }}" title="Zeige weitere Schadstoff-Messwerte aus {{ station.city.name }} an">{{ station.city.name }}</a>{% endif %} wurden vom {{ fromDateTime|date('d.m.Y') }} bis zum {{ untilDateTime|date('d.m.Y') }} die folgenden Werte gemessen:
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <canvas id="pollutionChart" style="width: 100%; height: 80vh;"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>
                                Zeitpunkt
                            </th>

                            {% for pollutantId, pollutant in pollutant_list() %}
                                {% if pollutantId in pollutantIdList %}
                                <th class="pollutant" data-pollutant-identifier="{{ pollutant.identifier }}">
                                    {{ pollutant.shortNameHtml|raw }}
                                </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for timestamp, dataList in dataLists %}
                        {% if dataList|length > 0 %}
                        <tr class="datetime" data-timestamp="{{ timestamp|date('H:i', 'Europe/Berlin') }}">
                            <td>
                                {{ timestamp|date('d.m.Y H:i', 'Europe/Berlin') }} Uhr
                            </td>

                            {% for pollutantId, pollutant in pollutant_list() %}
                                {% if pollutantId in pollutantIdList %}
                                {{ self.pollution_data(dataList, pollutantId) }}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('/js/leaflet.extra-markers.min.js') }}"></script>
    <script src="{{ asset('/js/map.min.js') }}"></script>
    <script src="{{ asset('/js/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('/js/history.min.js') }}"></script>
{% endblock %}
