{% extends 'layout.html.twig' %}
{% import _self as self %}

{% macro pollution_data(dataList, pollutant) %}
    {% if dataList[pollutant] is defined %}
    {% set data = dataList[pollutant]|first %}
    <td style="background-color: {{ pollution_color(data.pollutionLevel) }}">
        {{ data.data.value }} {{ data.pollutant.unitHtml|raw }}
    </td>
    {% else %}
    <td></td>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h3">
                    Historische Messwerte der Station {{ station.stationCode }}
                </h2>

                <p class="lead">
                    An der Station {{ station.stationCode }}{% if station.city %} in <a href="{{ path('show_city', { citySlug: station.city.slug }) }}" title="Zeige weitere Schadstoff-Messwerte aus {{ station.city.name }} an">{{ station.city.name }}</a>{% endif %} wurden vom {{ fromDateTime|date('d.m.Y') }} bis zum {{ untilDateTime|date('d.m.Y') }} die folgenden Werte gemessen:
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Zeitpunkt
                            </th>

                            <th>
                                PM<sub>10</sub>
                            </th>

                            <th>
                                PM<sub>25</sub>
                            </th>

                            <th>
                                O<sub>3</sub>
                            </th>

                            <th>
                                NO<sub>2</sub>
                            </th>

                            <th>
                                SO<sub>2</sub>
                            </th>

                            <th>
                                CO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for timestamp, dataList in dataLists %}
                        <tr>
                            <td>
                                {{ timestamp|date('d.m.Y H:i') }} Uhr
                            </td>

                            {{ self.pollution_data(dataList, 1) }}
                            {{ self.pollution_data(dataList, 6) }}
                            {{ self.pollution_data(dataList, 2) }}
                            {{ self.pollution_data(dataList, 3) }}
                            {{ self.pollution_data(dataList, 4) }}
                            {{ self.pollution_data(dataList, 5) }}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/leaflet.extra-markers.min.js"></script>
    <script src="/js/map.min.js"></script>
{% endblock %}
