{% if box %}
    {% if box.pollutionLevel == constant('LEVEL_ACCEPTABLE', box.pollutant.pollutionLevel) %}
    {% set levelClass = 'card-success' %}
    {% endif %}

    {% if box.pollutionLevel == constant('LEVEL_WARNING', box.pollutant.pollutionLevel) %}
    {% set levelClass = 'card-warning' %}
    {% endif %}

    {% if box.pollutionLevel == constant('LEVEL_DANGER', box.pollutant.pollutionLevel) %}
    {% set levelClass = 'card-danger' %}
    {% endif %}

    {% if box.pollutionLevel == constant('LEVEL_DEATH', box.pollutant.pollutionLevel) %}
    {% set levelClass = 'card-danger' %}
    {% endif %}

<div class="col-xs-12">
    <a href="{{ path('station', { stationCode: box.station.stationCode }) }}" class="no-underline">
        <div class="card card-inverse {{ levelClass }} text-center">
            <div class="card-block text-xs-center">
                <h4 class="card-title">
                    {{ box.data.value }} {{ box.pollutant.unit|raw }}
                </h4>
                <p class="card-text">{{ box.pollutant.name }}</p>
                {% if showStationTitle is defined and showStationTitle != false %}<p class="card-text">{{ box.station.title }}</p>{% endif %}
            </div>
        </div>
    </a>
</div>
{% endif %}
