{% if linkToStation is defined and linkToStation == true %}
<a href="{{ path('station', { 'stationCode': station.stationCode }) }}" class="no-underline">
{% endif %}

    <div class="card station" data-latitude="{{ station.latitude }}" data-longitude="{{ station.longitude }}" data-station-code="{{ station.stationCode }}">
    {% if showMap is not defined or showMap == true %}
        <div id="map-station-{{ station.stationCode }}" class="map card-img-top" style="height: 33.33vh;"></div>
        {% endif %}
        <div class="card-body">
            <h4 class="card-title">
                Messstation {{ station.stationCode }}
            </h4>
            <h6 class="card-sutitle text-muted">
                {{ station.title }}
            </h6>
            {% if description is defined %}
            <p class="card-text mt-2">
                {{ description }}
            </p>
            {% endif %}
        </div>

        {% for box in boxList %}
            {% include 'AppBundle:Default:_box.html.twig' with { 'box': box, 'showStationTitle': false, combined: true } %}
        {% endfor %}
    </div>

{% if linkToStation is defined and linkToStation == true %}
</a>
{% endif %}
