{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div id="map" class="card-img-top" style="height: 33.33vh;"></div>
                    <div class="card-block">
                        <h4 class="card-title">
                            Messstation {{ station.stationCode }}
                        </h4>
                        <h6 class="card-sutitle mb-2 text-muted">
                            {{ station.title }}
                        </h6>
                        <p class="card-text">
                            An der Station {{ station.stationCode }}  wurden zuletzt die folgenden Werte gemessen.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            {% for box in boxList %}
                {% include 'AppBundle:Default:_box.html.twig' with { 'box': box, 'showStationTitle': false } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/bundles/app/js/leaflet/leaflet.js"></script>

    <script>
        var centerLatLng = L.latLng([{{ station.latitude }}, {{ station.longitude }}]);

        var map = L.map('map', {
            zoomControl: false
        }).setView(centerLatLng, 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/maltehuebner/ciz8okvlo001f2spm3bbya1kd/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFsdGVodWVibmVyIiwiYSI6IjB5c2QtNXcifQ.I7OHZr0wtAvqE0wIY_psfg', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'
        }).addTo(map);

        var marker = L.marker(centerLatLng).addTo(map);

        map._handlers.forEach(function(handler) {
            handler.disable();
        });
    </script>
{% endblock %}
