<div class="modal fade" id="impressModal" tabindex="-1" role="dialog" aria-labelledby="impressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="impressModalLabel">
                    Impressum
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    Angaben nach § 5 TMG:
                </p>

                <p>
                    Malte Hübner
                    <br />
                    Mühlenaustieg 10
                    <br />
                    22523 Hamburg
                </p>

                <p>
                    E-Mail: maltehuebner@gmx.org
                    <br />
                    Telefon: 0700 11 864 833
                </p>

                <p>
                    Kein Support per E-Mail oder Telefon. Bitte nutze bei Problemen oder für Ideen das <a href="https://www.radverkehrsforum.de/index.php/Board/33-luft-jetzt/">Radverkehrsforum</a>.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row m-3">
            <div class="col-12 text-center">

                <p>
                    Die <a href="http://sqi.be/g6h5l">Luftdaten</a> stammen vom <a href="http://sqi.be/v2i08">Umweltbundesamt</a>.
                    <br />
                    <a href="#" data-toggle="modal" data-target="#impressModal">Impressum</a>
                    &bull;
                    <a href="http://sqi.be/v4px3">facebook</a>
                    &bull;
                    <a href="http://sqi.be/ed94a">GitHub</a>
                    &bull;
                    <a href="{{ path('nelmio_api_doc_index') }}">Api</a>
                    &bull;
                    {% if app.user and app.user.city %}
                        <a href="{{ path('twitter_schedule_list', { citySlug: app.user.city.slug }) }}">
                            twitter-Einstellungen
                        </a>
                        &bull;
                        <a href="{{ path('logout') }}">
                            Logout
                        </a>
                    {% else %}
                        <a href="{{ path('hwi_oauth_connect') }}">
                            Login über twitter
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</footer>

{{ render(controller('App\\Controller\\TemplateController::cityListAction')) }}
